body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  header h1 {
    color: #5E2A84; /* Or the color from your design */
  }
  
  input[type="file"] {
    margin: 20px 0;
  }
  
  button {
    background-color: #5E2A84; /* Or the color from your design */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .transportation-method label {
    margin-right: 10px;
  }
  
  .transportation-method input {
    margin-right: 5px;
  }
  
  #error {
    color: red;
  }

/* ... */

.spacing {
  margin-top: 20px; 
}

.calendar-container {
  display: grid;
  grid-template-columns: 50px auto; /* Adjust the width of the time column as needed */
  max-width: 100%;
  gap: 10px;
}

.calendar-times {
  display: flex;
  flex-direction: column;
}

.time-slot {
  /* ... */
  height: 50px; /* or as tall as you want each time slot to be */
  border-right: 1px solid #ddd; /* subtle border */
}

.calendar-days {
  display: flex;
  flex-direction: column;
}

.calendar-header, .calendar-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-header > div {
  padding: 10px;
  background-color: #5E2A84; /* The purple color from your design */
  color: white;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.day-cell {
  border: 1px solid #7a5a83; /* subtle border for the slots */
  min-height: 550px; /* Match this to the .time-slot height */
  min-width: 100px;
}

/* EVENT POSITIONING */

.event {
  position: absolute; /* Absolute positioning within the .day (positioned) container */
  left: 0; /* Align the event to the left side of the .day container */
  right: 0; /* Align the event to the right side of the .day container */
  background-color: #add8e6; /* A light blue background for the event */
  width: calc(100% - 1px); /* -2px accounts for margins */
  border-left: 5px solid #5E2A84; /* A thick left border for visual prominence */
  color: #333; /* Dark text for readability */
  padding: 4px 8px; /* Spacing inside the event box */
  margin: 1px 0; /* Space between events */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* A subtle shadow for depth */
  z-index: 10; /* Ensure the event is above the day cells */
  overflow: hidden; /* Prevents content from spilling out */
  white-space: nowrap; /* Keeps the event text on one line */
  text-overflow: ellipsis; /* Adds an ellipsis if the text is too long */
}


 /* ..ALARM FOR LATE ARRIVALS.. */
.trip-status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; 
  color: grey;
}

.trip-status img {
  margin-right: 5px; /* Space between icon and text */
}
